
/* Normalize
========================================================================== */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display:block}
nav ul,nav ol {list-style:none;list-style-image:none}
img {border:0;-ms-interpolation-mode:bicubic}
svg:not(:root) {overflow:hidden}
html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
html,button,input,select,textarea{font-family:'robotoregular', sans-serif;}
body{margin:0}
a {background-color:transparent;}
a:focus{outline:0}
a:active,a:hover{outline:0}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
textarea{resize:vertical}
hr{box-sizing: content-box; display:block;height:1px;border:0;border-top:1px solid #ccc;margin:6px 0;padding:0; clear:both;}
button,select{text-transform:none}
button {overflow: visible;}
button, input, optgroup, select, textarea {color: inherit; font: inherit; margin: 0;}
button, select {text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
/*input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}*/
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top; resize: vertical;}
table{border-collapse:collapse;border-spacing:0}

::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection {background: #b3d4fc;text-shadow: none;}
fieldset {border: 0;margin: 0;padding: 0;}

*, *:before, *:after {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

/* Helpers
========================================================================== */
.clearfix::after{content:" "; display:table; clear:both;}

/* Layout
========================================================================== */
html {font-size:62.5%; height:100%; overflow:-moz-scrollbars-vertical; overflow-y:scroll; overflow-x:hidden;}

body {font-family:'Open Sans', sans-serif; font-size:14px; height:100%; line-height:1.4; background-color:#e4e4e4; color:#363636; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}

a {color:#0087c6; text-decoration:none; cursor:pointer;}
    a:hover {text-decoration:underline;}


main {width:1200px; margin:20px auto 0 auto;}
.content {background-color:#fff; padding:20px;}

h1, .h1 {font-size:16px; font-weight:normal; color:#000;}
h2, .h2 {font-size:16px; font-weight:normal; color:#000; margin:1em 0 4px 0;}

html body .full {width:calc(100vw); margin-left:calc((-100vw + 100%) / 2 );}
.full > * {width:1200px; margin:0 auto;}

ul, li {margin:0; padding:0; list-style-type:none;}
.ul {margin:16px 0;}
.ul li {background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAMAAACqqpYoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRFmpqa9fX1SUlJDOOqDgAAABFJREFUeNpiYGRiYABigAADAAAiAAetAjbFAAAAAElFTkSuQmCC'); background-position:0 8px; background-repeat:no-repeat; padding-left:10px;}
    .ul li li {margin-left:10px;}
ul.horiz {padding:0 0 0 4px;}
    ul.horiz li {display: inline-block; position:relative; margin:0 0 0 -4px;}

table {width:100%;}
    table thead th {background-color:#f4f4f4; font-weight:normal; text-align:left; padding:5px; font-size:13px; color:#999;}
    table thead th a {text-decoration:none; color:#999;}
    table tbody td {padding:5px; font-size:13px; color:#000;}
    table tbody tr {border-bottom:1px solid #f4f4f4; transition:background-color 0.2s ease;}
    table tbody tr:nth-child(even) {background-color:#fafafa;}
    /*table tbody tr:hover {background-color:#e6f3f9;}*/

dl {margin-top:0;}
    dt {font-size:9px; font-weight:normal; color:#666; margin-bottom:2px;}
    dd {margin-left:0; margin-bottom:12px; font-size:14px; color:#333;}







/* ----------------------------------- */





body {font-family:courier; padding:10px;}

.flex-container {display:flex; /*flex-direction: row; flex-wrap: nowrap; align-items: flex-start; align-content: flex-start;*/}
.flex-container > div {flex-grow:1;}








body {
  font-family: sans-serif;
}
a {
  color: #369;
}
.note {
  width: 500px;
  margin: 50px auto;
  font-size: 1.1em;
  color: #333;
  text-align: justify;
}
#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  margin: 50px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}
